.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e05f8; /* Color azul */
    padding: 0.5rem 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-content {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
  }
  
  .navbar-title {
    font-family: 'Uncial Antiqua', sans-serif;
    font-size: 2rem;
    color: #fceb06; /* Color amarillo */
    margin: 0;
  }
  
  .shell-icon {
    display: flex;
    align-items: center;
  }
  
  .shell-icon svg {
    fill: #0206f3; /* Color azul */
  }
  
  .navbar-icons {
    display: flex;
    gap: 1rem;
  }
  
  .icon {
    font-size: 1.5rem;
    color: #080808; /* Color negro*/
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .icon:hover {
    color: #c40909; /* Color negro */
  }
  