.map {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    & .leaflet-container{
        height: 550px;
        width: 1000px;
      }
}